#homepage{
    border-bottom: 0.1rem solid #12232E;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 10rem;
    background: url(../images/morning2.jpg);
}

#homepage:hover{
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition-timing-function: ease-in;
    transition-duration:1s;
}

