@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

::-webkit-scrollbar{
  display: none;
}

#sign-in{
  display: grid;
  grid-template-rows: 0.7fr 4fr;
  gap: 1rem;
}

#sign-up{
  display: grid;
  grid-template-rows: 0.7fr 4fr;
  gap: 1rem;
}

input{
  padding: 1rem;
  font-size: 20px;
}

#mainloginpage{
  background: url('/bgtwitterlogin.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#from_signup{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


#form-signin{
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
}

.overlay{
  backdrop-filter: blur(1px);
  background-color: #1d41663f;
  
}