.post{
    display: flex;
    padding: 1.5rem 2rem;
    gap: 1rem;
    border: 1px solid var(--background-color);
}
.post__body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post_header{
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.3rem;
    align-items: centers;
}

.dim{
    color: var(--background-color);
    font-size: 1.5rem;
}

.header_items:last-child{
    margin-left: auto;
}

.post__text p{
    font-size: 2rem;
    font-weight: 100;
}

.post_image img{
    height: 50rem;
    width: 100%;
    border-radius:1rem;
}

.post__stats{
    display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    column-gap: 7rem;
}

.post_statdiv{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}